@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf);
}
*{
box-sizing: border-box;
margin: 0;
}

.container{
display: flex; 
gap: 300px;   
}

.header{
display: flex;
gap: 20px;
}

.account{
font-family: 'Poppins';
}

.parahraph{
font-family: 'Poppins';
color: #949494;   

}
.formm{
display: flex;
flex-direction: column;
gap: 20px;  
}

.name{
font-family: 'poppins';
font-size: 20px;
}

.email{
font-family: 'poppins';
font-size: 20px;
}

.password{
font-family: 'poppins';
font-size: 20px;
}

.email1{
font-family: 'poppins';
display: flex;
}

.password1{
font-family: 'poppins';
}

.name2{
width: 432.171px;
height: 60px;
color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
opacity: 0.7;
}

.email2{
width: 432.171px;
height: 60px;
color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
opacity: 0.7;
}

.password2{
width: 432.171px;
height: 60px;
color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
opacity: 0.7;
}

.form1{
display: flex;
flex-direction: column;
gap: 50px;
position: relative;

}

.buttondi2{
display: flex;
width: 433px;
padding: 18px 32px;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 8px;
border: 1px solid #949494;
background: #FFF;
}

.googletxt{
    color: #4443FF;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 166.5%; /* 33.3px */
text-transform: capitalize;
}

.buttondiv{
display: flex;
flex-direction: column;
gap: 20px;
}

.accounttxt{
color: #FFF;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 166.5%; /* 33.3px */
}

.button{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 166.5%; /* 33.3px */
border-radius: 8px;
background: #4443FF;
display: flex;
letter-spacing: 1px;
/* 1 */
box-shadow: 9px 9px 10px 0px rgba(114, 113, 255, 0.25);
height: 70px;
width: 433px;

justify-content: center;
align-items: center;
gap: 10px;
}

.paragraph2{
color: #949494;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
}

.login{
color: #7271FF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 166.5%;
text-decoration-line: underline;
}

.paragraphdiv{
display: flex;
justify-content: center;
}

.header2{
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}
.span1{
    color: #EB3800;
}
.span2{
    color: #EB3800;
}
.iconbox{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.icon{
    width: 20px;
    height: 20px;
    position: absolute;
   top: 330px;
   left: 390px;
 
}
.pasdiv{
    border: 1px;
}